# torch and torchvision must be installed separately with the correct CUDA version:
# pip install torch==2.7.1+cu128 torchvision==0.22.1+cu128 --index-url https://download.pytorch.org/whl/cu128
# you must have these exact same versions of packages listed below for full functionality of the program

diffusers==0.32.2
transformers==4.53.0
accelerate==0.32.1
safetensors==0.5.3
einops==0.8.1
onnxruntime-gpu==1.22.0
spaces==0.19.4
omegaconf==2.3.0
huggingface-hub==0.33.0
opencv-python==4.11.0.86
insightface==0.7.3
gradio==5.32.1
gradio-client==1.10.2
controlnet_aux==0.0.10
gdown==5.2.0
peft==0.15.2
tokenizers==0.21.2
torchsde==0.2.6
