
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('static/fonts/IBMPlexSans/IBMPlexSans-Regular.woff2') format('woff2');
    font-weight: Regular;
    font-style: normal;
}


@font-face {
    font-family: 'IBM Plex Sans';
    src: url('static/fonts/IBMPlexSans/IBMPlexSans-Bold.woff2') format('woff2');
    font-weight: Bold;
    font-style: normal;
}


@font-face {
    font-family: 'IBM Plex Mono';
    src: url('static/fonts/IBMPlexMono/IBMPlexMono-Regular.woff2') format('woff2');
    font-weight: Regular;
    font-style: normal;
}


@font-face {
    font-family: 'IBM Plex Mono';
    src: url('static/fonts/IBMPlexMono/IBMPlexMono-Bold.woff2') format('woff2');
    font-weight: Bold;
    font-style: normal;
}

:root {
  --name: NoCrypt/miku;
  --primary-50: #f1f8fe;
  --primary-100: #e2effc;
  --primary-200: #bedff9;
  --primary-300: #84c5f5;
  --primary-400: #4eacef;
  --primary-500: #198cde;
  --primary-600: #0c6ebd;
  --primary-700: #0b5899;
  --primary-800: #0e4b7e;
  --primary-900: #113f69;
  --primary-950: #0b2846;
  --secondary-50: #f1f8fe;
  --secondary-100: #e2effc;
  --secondary-200: #bedff9;
  --secondary-300: #84c5f5;
  --secondary-400: #4eacef;
  --secondary-500: #198cde;
  --secondary-600: #0c6ebd;
  --secondary-700: #0b5899;
  --secondary-800: #0e4b7e;
  --secondary-900: #113f69;
  --secondary-950: #0b2846;
  --neutral-50: #f1f8fe;
  --neutral-100: #e2effc;
  --neutral-200: #bedff9;
  --neutral-300: #84c5f5;
  --neutral-400: #4eacef;
  --neutral-500: #198cde;
  --neutral-600: #0c6ebd;
  --neutral-700: #0b5899;
  --neutral-800: #0e4b7e;
  --neutral-900: #113f69;
  --neutral-950: #0b2846;
  --spacing-xxs: 1px;
  --spacing-xs: 2px;
  --spacing-sm: 4px;
  --spacing-md: 6px;
  --spacing-lg: 8px;
  --spacing-xl: 10px;
  --spacing-xxl: 16px;
  --radius-xxs: 1px;
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-xxl: 22px;
  --text-xxs: 9px;
  --text-xs: 10px;
  --text-sm: 12px;
  --text-md: 14px;
  --text-lg: 16px;
  --text-xl: 22px;
  --text-xxl: 26px;
  --font: 'Asap', 'ui-sans-serif', sans-serif;
  --font-mono: 'Fira Code', 'ui-monospace', monospace;
  --body-background-fill: url('https://i.ibb.co/0rfK9Wm/light-miku-faded.webp') #FFFFFF no-repeat right bottom / auto 30svh padding-box fixed;
  --body-text-color: #191919;
  --body-text-size: var(--text-md);
  --body-text-weight: 400;
  --embed-radius: var(--radius-lg);
  --color-accent: var(--primary-500);
  --color-accent-soft: #dce3e8;
  --background-fill-primary: #FFFFFF;
  --background-fill-secondary: #dce3e8;
  --border-color-accent: #dce3e8;
  --border-color-primary: #dce3e8;
  --link-text-color: #4EACEF;
  --link-text-color-active: #4EACEF;
  --link-text-color-hover: #0c6ebd;
  --link-text-color-visited: #4EACEF;
  --body-text-color-subdued: #636668;
  --accordion-text-color: var(--body-text-color);
  --table-text-color: var(--body-text-color);
  --shadow-drop: rgba(0,0,0,0.05) 0px 1px 2px 0px;
  --shadow-drop-lg: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-inset: rgba(0,0,0,0.05) 0px 2px 4px 0px inset;
  --shadow-spread: #FFFFFF;
  --block-background-fill: #ECF2F7;
  --block-border-color: #dce3e8;
  --block-border-width: 1px;
  --block-info-text-color: #191919;
  --block-info-text-size: var(--text-sm);
  --block-info-text-weight: 400;
  --block-label-background-fill: #ECF2F700;
  --block-label-border-color: #dce3e8;
  --block-label-border-width: 1px;
  --block-label-shadow: var(--block-shadow);
  --block-label-text-color: #4EACEF;
  --block-label-margin: 0;
  --block-label-padding: var(--spacing-sm) var(--spacing-lg);
  --block-label-radius: calc(var(--radius-lg) - 1px) 0 calc(var(--radius-lg) - 1px) 0;
  --block-label-right-radius: 0 calc(var(--radius-lg) - 1px) 0 calc(var(--radius-lg) - 1px);
  --block-label-text-size: var(--text-sm);
  --block-label-text-weight: 400;
  --block-padding: var(--spacing-xl) calc(var(--spacing-xl) + 2px);
  --block-radius: var(--radius-lg);
  --block-shadow: #FFFFFF00;
  --block-title-background-fill: #ECF2F700;
  --block-title-border-color: #dce3e8;
  --block-title-border-width: 0px;
  --block-title-text-color: #4EACEF;
  --block-title-padding: 0;
  --block-title-radius: none;
  --block-title-text-size: var(--text-md);
  --block-title-text-weight: bold;
  --container-radius: var(--radius-lg);
  --form-gap-width: 0px;
  --layout-gap: var(--spacing-xxl);
  --panel-background-fill: #ECF2F7;
  --panel-border-color: #4EACEF;
  --panel-border-width: 0;
  --section-header-text-size: var(--text-md);
  --section-header-text-weight: 400;
  --border-color-accent-subdued: #dce3e867;
  --code-background-fill: var(--neutral-100);
  --chatbot-text-size: var(--text-lg);
  --checkbox-background-color: #dce3e8;
  --checkbox-background-color-focus: #dce3e8;
  --checkbox-background-color-hover: #dce3e8;
  --checkbox-background-color-selected: #4EACEF;
  --checkbox-border-color: #dce3e8;
  --checkbox-border-color-focus: #4EACEF;
  --checkbox-border-color-hover: #4EACEF;
  --checkbox-border-color-selected: #4EACEF;
  --checkbox-border-radius: var(--radius-sm);
  --checkbox-border-width: 1px;
  --checkbox-label-background-fill: #ECF2F7;
  --checkbox-label-background-fill-hover: #dce3e8;
  --checkbox-label-background-fill-selected: #dce3e8;
  --checkbox-label-border-color: #dce3e8;
  --checkbox-label-border-color-hover: #4EACEF;
  --checkbox-label-border-color-selected: var(--checkbox-label-border-color);
  --checkbox-label-border-width: 1px;
  --checkbox-label-gap: var(--spacing-lg);
  --checkbox-label-padding: var(--spacing-md) calc(2 * var(--spacing-md));
  --checkbox-label-shadow: none;
  --checkbox-label-text-size: var(--text-md);
  --checkbox-label-text-weight: 400;
  --checkbox-check: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  --radio-circle: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  --checkbox-shadow: var(--input-shadow);
  --checkbox-label-text-color: #191919;
  --checkbox-label-text-color-selected: #4EACEF;
  --error-background-fill: #dce3e8;
  --error-border-color: #191919;
  --error-border-width: 1px;
  --error-text-color: #4EACEF;
  --error-icon-color: #b91c1c;
  --input-background-fill: #dce3e8;
  --input-background-fill-focus: #dce3e8;
  --input-background-fill-hover: #d0d7db;
  --input-border-color: #191919;
  --input-border-color-focus: #191919;
  --input-border-color-hover: #202020;
  --input-border-width: 0px;
  --input-padding: var(--spacing-xl);
  --input-placeholder-color: #19191930;
  --input-radius: var(--radius-lg);
  --input-shadow: #19191900;
  --input-shadow-focus: #19191900;
  --input-text-size: var(--text-md);
  --input-text-weight: 400;
  --loader-color: #4EACEF;
  --prose-text-size: var(--text-md);
  --prose-text-weight: 400;
  --prose-header-text-weight: 600;
  --slider-color: #4EACEF;
  --stat-background-fill: #4EACEF;
  --table-border-color: #191919;
  --table-even-background-fill: #ECF2F7;
  --table-odd-background-fill: #dce3e8;
  --table-radius: var(--radius-lg);
  --table-row-focus: #191919;
  --button-border-width: var(--input-border-width);
  --button-cancel-background-fill: #dce3e8;
  --button-cancel-background-fill-hover: #d0d7db;
  --button-cancel-border-color: #191919;
  --button-cancel-border-color-hover: #202020;
  --button-cancel-text-color: #4EACEF;
  --button-cancel-text-color-hover: #0c6ebd;
  --button-transform-hover: none;
  --button-transform-active: none;
  --button-transition: background-color 0.2s ease;
  --button-large-padding: var(--spacing-lg) calc(2 * var(--spacing-lg));
  --button-large-radius: var(--radius-lg);
  --button-large-text-size: var(--text-lg);
  --button-large-text-weight: 600;
  --button-primary-background-fill: #4EACEF;
  --button-primary-background-fill-hover: #0c6ebd;
  --button-primary-border-color: #191919;
  --button-primary-border-color-hover: #202020;
  --button-primary-text-color: #ECF2F7;
  --button-primary-text-color-hover: #e1eaf0;
  --button-primary-shadow: none;
  --button-primary-shadow-hover: var(--button-primary-shadow);
  --button-primary-shadow-active: var(--button-primary-shadow);
  --button-secondary-background-fill: #dce3e8;
  --button-secondary-background-fill-hover: #d0d7db;
  --button-secondary-border-color: #dce3e8;
  --button-secondary-border-color-hover: #d0d7db;
  --button-secondary-text-color: #4EACEF;
  --button-secondary-text-color-hover: #0c6ebd;
  --button-secondary-shadow: var(--button-primary-shadow);
  --button-secondary-shadow-hover: var(--button-secondary-shadow);
  --button-secondary-shadow-active: var(--button-secondary-shadow);
  --button-small-padding: var(--spacing-sm) calc(2 * var(--spacing-sm));
  --button-small-radius: var(--radius-lg);
  --button-small-text-size: var(--text-md);
  --button-small-text-weight: 400;
  --button-medium-padding: var(--spacing-md) calc(2 * var(--spacing-md));
  --button-medium-radius: var(--radius-md);
  --button-medium-text-size: var(--text-md);
  --button-medium-text-weight: 600;
  --button-shadow: none;
  --button-shadow-active: none;
  --button-shadow-hover: none;
  --chatbot-code-background-color: #FFFFFF;
}

:root .dark {
  --body-background-fill: url('https://i.ibb.co/F4hKFrZ/dark-miku.webp') #000000 no-repeat right bottom / auto 30svh padding-box fixed ;
  --body-text-color: #ECF2F7;
  --color-accent-soft: #242424;
  --background-fill-primary: #000000;
  --background-fill-secondary: #242424;
  --border-color-accent: #242424;
  --border-color-primary: #242424;
  --link-text-color-active: #4EACEF;
  --link-text-color: #4EACEF;
  --link-text-color-hover: #0c6ebd;
  --link-text-color-visited: #4EACEF;
  --body-text-color-subdued: #c4c4c4;
  --accordion-text-color: var(--body-text-color);
  --table-text-color: var(--body-text-color);
  --shadow-spread: #000000;
  --block-background-fill: #191919;
  --block-border-color: #242424;
  --block_border_width: None;
  --block-info-text-color: #ECF2F7;
  --block-label-background-fill: #19191900;
  --block-label-border-color: #242424;
  --block_label_border_width: None;
  --block-label-text-color: #4EACEF;
  --block-shadow: #00000000;
  --block-title-background-fill: #19191900;
  --block-title-border-color: #242424;
  --block_title_border_width: None;
  --block-title-text-color: #4EACEF;
  --panel-background-fill: #191919;
  --panel-border-color: #4EACEF;
  --panel_border_width: None;
  --border-color-accent-subdued: #24242467;
  --code-background-fill: var(--neutral-800);
  --checkbox-background-color: #242424;
  --checkbox-background-color-focus: #242424;
  --checkbox-background-color-hover: #242424;
  --checkbox-background-color-selected: #4EACEF;
  --checkbox-border-color: #242424;
  --checkbox-border-color-focus: #4EACEF;
  --checkbox-border-color-hover: #4EACEF;
  --checkbox-border-color-selected: #4EACEF;
  --checkbox-border-width: 1px;
  --checkbox-label-background-fill: #191919;
  --checkbox-label-background-fill-hover: #242424;
  --checkbox-label-background-fill-selected: #242424;
  --checkbox-label-border-color: #242424;
  --checkbox-label-border-color-hover: #4EACEF;
  --checkbox-label-border-color-selected: var(--checkbox-label-border-color);
  --checkbox-label-border-width: 1px;
  --checkbox-label-text-color: #ECF2F7;
  --checkbox-label-text-color-selected: #4EACEF;
  --error-background-fill: #242424;
  --error-border-color: #ECF2F7;
  --error-border-width: 1px;
  --error-text-color: #4EACEF;
  --error-icon-color: #ef4444;
  --input-background-fill: #242424;
  --input-background-fill-focus: #242424;
  --input-background-fill-hover: #202020;
  --input-border-color: #ECF2F7;
  --input-border-color-focus: #ECF2F7;
  --input-border-color-hover: #a1c3d8;
  --input_border_width: None;
  --input-placeholder-color: #ECF2F730;
  --input-shadow: #ECF2F700;
  --input-shadow-focus: #ECF2F700;
  --loader-color: #4EACEF;
  --slider-color: #4EACEF;
  --stat-background-fill: #4EACEF;
  --table-border-color: #ECF2F7;
  --table-even-background-fill: #191919;
  --table-odd-background-fill: #242424;
  --table-row-focus: #ECF2F7;
  --button-border-width: var(--input-border-width);
  --button-cancel-background-fill: #242424;
  --button-cancel-background-fill-hover: #202020;
  --button-cancel-border-color: #ECF2F7;
  --button-cancel-border-color-hover: #a1c3d8;
  --button-cancel-text-color: #4EACEF;
  --button-cancel-text-color-hover: #0c6ebd;
  --button-primary-background-fill: #4EACEF;
  --button-primary-background-fill-hover: #0c6ebd;
  --button-primary-border-color: #ECF2F7;
  --button-primary-border-color-hover: #a1c3d8;
  --button-primary-text-color: #191919;
  --button-primary-text-color-hover: #141414;
  --button_primary_shadow: None;
  --button-primary-shadow-hover: var(--button-primary-shadow);
  --button-primary-shadow-active: var(--button-primary-shadow);
  --button-secondary-background-fill: #242424;
  --button-secondary-background-fill-hover: #202020;
  --button-secondary-border-color: #242424;
  --button-secondary-border-color-hover: #202020;
  --button-secondary-text-color: #4EACEF;
  --button-secondary-text-color-hover: #0c6ebd;
  --button_secondary_shadow: None;
  --button-secondary-shadow-hover: var(--button-secondary-shadow);
  --button-secondary-shadow-active: var(--button-secondary-shadow);
  --chatbot-code-background-color: #000000;
  --name: NoCrypt/miku;
  --primary-50: #f1f8fe;
  --primary-100: #e2effc;
  --primary-200: #bedff9;
  --primary-300: #84c5f5;
  --primary-400: #4eacef;
  --primary-500: #198cde;
  --primary-600: #0c6ebd;
  --primary-700: #0b5899;
  --primary-800: #0e4b7e;
  --primary-900: #113f69;
  --primary-950: #0b2846;
  --secondary-50: #f1f8fe;
  --secondary-100: #e2effc;
  --secondary-200: #bedff9;
  --secondary-300: #84c5f5;
  --secondary-400: #4eacef;
  --secondary-500: #198cde;
  --secondary-600: #0c6ebd;
  --secondary-700: #0b5899;
  --secondary-800: #0e4b7e;
  --secondary-900: #113f69;
  --secondary-950: #0b2846;
  --neutral-50: #f1f8fe;
  --neutral-100: #e2effc;
  --neutral-200: #bedff9;
  --neutral-300: #84c5f5;
  --neutral-400: #4eacef;
  --neutral-500: #198cde;
  --neutral-600: #0c6ebd;
  --neutral-700: #0b5899;
  --neutral-800: #0e4b7e;
  --neutral-900: #113f69;
  --neutral-950: #0b2846;
  --spacing-xxs: 1px;
  --spacing-xs: 2px;
  --spacing-sm: 4px;
  --spacing-md: 6px;
  --spacing-lg: 8px;
  --spacing-xl: 10px;
  --spacing-xxl: 16px;
  --radius-xxs: 1px;
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-xxl: 22px;
  --text-xxs: 9px;
  --text-xs: 10px;
  --text-sm: 12px;
  --text-md: 14px;
  --text-lg: 16px;
  --text-xl: 22px;
  --text-xxl: 26px;
  --font: 'Asap', 'ui-sans-serif', sans-serif;
  --font-mono: 'Fira Code', 'ui-monospace', monospace;
  --body-text-size: var(--text-md);
  --body-text-weight: 400;
  --embed-radius: var(--radius-lg);
  --color-accent: var(--primary-500);
  --shadow-drop: rgba(0,0,0,0.05) 0px 1px 2px 0px;
  --shadow-drop-lg: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-inset: rgba(0,0,0,0.05) 0px 2px 4px 0px inset;
  --block-border-width: 1px;
  --block-info-text-size: var(--text-sm);
  --block-info-text-weight: 400;
  --block-label-border-width: 1px;
  --block-label-shadow: var(--block-shadow);
  --block-label-margin: 0;
  --block-label-padding: var(--spacing-sm) var(--spacing-lg);
  --block-label-radius: calc(var(--radius-lg) - 1px) 0 calc(var(--radius-lg) - 1px) 0;
  --block-label-right-radius: 0 calc(var(--radius-lg) - 1px) 0 calc(var(--radius-lg) - 1px);
  --block-label-text-size: var(--text-sm);
  --block-label-text-weight: 400;
  --block-padding: var(--spacing-xl) calc(var(--spacing-xl) + 2px);
  --block-radius: var(--radius-lg);
  --block-title-border-width: 0px;
  --block-title-padding: 0;
  --block-title-radius: none;
  --block-title-text-size: var(--text-md);
  --block-title-text-weight: bold;
  --container-radius: var(--radius-lg);
  --form-gap-width: 0px;
  --layout-gap: var(--spacing-xxl);
  --panel-border-width: 0;
  --section-header-text-size: var(--text-md);
  --section-header-text-weight: 400;
  --chatbot-text-size: var(--text-lg);
  --checkbox-border-radius: var(--radius-sm);
  --checkbox-label-gap: var(--spacing-lg);
  --checkbox-label-padding: var(--spacing-md) calc(2 * var(--spacing-md));
  --checkbox-label-shadow: none;
  --checkbox-label-text-size: var(--text-md);
  --checkbox-label-text-weight: 400;
  --checkbox-check: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  --radio-circle: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  --checkbox-shadow: var(--input-shadow);
  --input-border-width: 0px;
  --input-padding: var(--spacing-xl);
  --input-radius: var(--radius-lg);
  --input-text-size: var(--text-md);
  --input-text-weight: 400;
  --prose-text-size: var(--text-md);
  --prose-text-weight: 400;
  --prose-header-text-weight: 600;
  --table-radius: var(--radius-lg);
  --button-transform-hover: none;
  --button-transform-active: none;
  --button-transition: background-color 0.2s ease;
  --button-large-padding: var(--spacing-lg) calc(2 * var(--spacing-lg));
  --button-large-radius: var(--radius-lg);
  --button-large-text-size: var(--text-lg);
  --button-large-text-weight: 600;
  --button-primary-shadow: none;
  --button-secondary-shadow: var(--button-primary-shadow);
  --button-small-padding: var(--spacing-sm) calc(2 * var(--spacing-sm));
  --button-small-radius: var(--radius-lg);
  --button-small-text-size: var(--text-md);
  --button-small-text-weight: 400;
  --button-medium-padding: var(--spacing-md) calc(2 * var(--spacing-md));
  --button-medium-radius: var(--radius-md);
  --button-medium-text-size: var(--text-md);
  --button-medium-text-weight: 600;
  --button-shadow: none;
  --button-shadow-active: none;
  --button-shadow-hover: none;
}