
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('static/fonts/IBMPlexSans/IBMPlexSans-Regular.woff2') format('woff2');
    font-weight: Regular;
    font-style: normal;
}


@font-face {
    font-family: 'IBM Plex Sans';
    src: url('static/fonts/IBMPlexSans/IBMPlexSans-Bold.woff2') format('woff2');
    font-weight: Bold;
    font-style: normal;
}


@font-face {
    font-family: 'IBM Plex Mono';
    src: url('static/fonts/IBMPlexMono/IBMPlexMono-Regular.woff2') format('woff2');
    font-weight: Regular;
    font-style: normal;
}


@font-face {
    font-family: 'IBM Plex Mono';
    src: url('static/fonts/IBMPlexMono/IBMPlexMono-Bold.woff2') format('woff2');
    font-weight: Bold;
    font-style: normal;
}

:root {
  --name: rottenlittlecreature/Moon_Goblin;
  --primary-50: #fafafa;
  --primary-100: #f5f5f5;
  --primary-200: #e5e5e5;
  --primary-300: #d4d4d4;
  --primary-400: #a3a3a3;
  --primary-500: #737373;
  --primary-600: #525252;
  --primary-700: #404040;
  --primary-800: #262626;
  --primary-900: #171717;
  --primary-950: #0f0f0f;
  --secondary-50: #f5f3ff;
  --secondary-100: #ede9fe;
  --secondary-200: #ddd6fe;
  --secondary-300: #c4b5fd;
  --secondary-400: #a78bfa;
  --secondary-500: #ac8ef0;
  --secondary-600: #935fec;
  --secondary-700: #7943d0;
  --secondary-800: #6a3eb1;
  --secondary-900: #502b88;
  --secondary-950: #39225e;
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #9a9b9e;
  --neutral-600: #27ddc8;
  --neutral-700: #652e8a;
  --neutral-800: #242424;
  --neutral-900: #242424;
  --neutral-950: #000000;
  --spacing-xxs: 1px;
  --spacing-xs: 2px;
  --spacing-sm: 4px;
  --spacing-md: 6px;
  --spacing-lg: 8px;
  --spacing-xl: 10px;
  --spacing-xxl: 16px;
  --radius-xxs: 1px;
  --radius-xs: 1px;
  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 6px;
  --radius-xl: 8px;
  --radius-xxl: 12px;
  --text-xxs: 9px;
  --text-xs: 10px;
  --text-sm: 12px;
  --text-md: 14px;
  --text-lg: 16px;
  --text-xl: 22px;
  --text-xxl: 26px;
  --font: 'Segoe UI','ui-sans-serif','system-ui',sans-serif;
  --font-mono: 'Prompt','ui-monospace','Consolas',monospace;
  --body-background-fill: var(--background-fill-primary);
  --body-text-color: var(--neutral-900);
  --body-text-size: var(--text-md);
  --body-text-weight: 400;
  --embed-radius: 5px;
  --color-accent: #ed28cc;
  --color-accent-soft: #8a28ed;
  --background-fill-primary: white;
  --background-fill-secondary: var(--neutral-50);
  --border-color-accent: var(--primary-300);
  --border-color-primary: var(--neutral-200);
  --link-text-color: var(--secondary-600);
  --link-text-color-active: var(--secondary-600);
  --link-text-color-hover: var(--secondary-700);
  --link-text-color-visited: var(--secondary-500);
  --body-text-color-subdued: var(--neutral-700);
  --accordion-text-color: var(--body-text-color);
  --table-text-color: var(--body-text-color);
  --shadow-drop: rgba(0,0,0,0.05) 0px 1px 2px 0px;
  --shadow-drop-lg: 0 1px 4px 0 rgb(255 255 255 / 0.1);
  --shadow-inset: rgba(0,0,0,0.05) 0px 2px 4px 0px inset;
  --shadow-spread: 3px;
  --block-background-fill: var(--background-fill-primary);
  --block-border-color: var(--border-color-primary);
  --block-border-width: 1px;
  --block-info-text-color: var(--body-text-color-subdued);
  --block-info-text-size: var(--text-sm);
  --block-info-text-weight: 400;
  --block-label-background-fill: var(--background-fill-primary);
  --block-label-border-color: var(--border-color-primary);
  --block-label-border-width: 1px;
  --block-label-shadow: var(--block-shadow);
  --block-label-text-color: var(--body-text-color);
  --block-label-margin: 0;
  --block-label-padding: var(--spacing-lg);
  --block-label-radius: 5px;
  --block-label-right-radius: 5px;
  --block-label-text-size: var(--text-md);
  --block-label-text-weight: 400;
  --block-padding: var(--spacing-lg);
  --block-radius: 5px;
  --block-shadow: var(--shadow-drop-lg);
  --block-title-background-fill: none;
  --block-title-border-color: none;
  --block-title-border-width: 0px;
  --block-title-text-color: var(--body-text-color);
  --block-title-padding: spacing_lg;
  --block-title-radius: 5px;
  --block-title-text-size: var(--text-md);
  --block-title-text-weight: 400;
  --container-radius: 5px;
  --form-gap-width: 1px;
  --layout-gap: var(--spacing-lg);
  --panel-background-fill: var(--background-fill-secondary);
  --panel-border-color: var(--border-color-primary);
  --panel-border-width: 0;
  --section-header-text-size: var(--text-md);
  --section-header-text-weight: 400;
  --border-color-accent-subdued: var(--border-color-accent);
  --code-background-fill: var(--neutral-100);
  --chatbot-text-size: var(--text-lg);
  --checkbox-background-color: var(--background-fill-primary);
  --checkbox-background-color-focus: var(--checkbox-background-color);
  --checkbox-background-color-hover: var(--checkbox-background-color);
  --checkbox-background-color-selected: var(--neutral-600);
  --checkbox-border-color: var(--neutral-300);
  --checkbox-border-color-focus: var(--secondary-500);
  --checkbox-border-color-hover: var(--neutral-300);
  --checkbox-border-color-selected: var(--secondary-600);
  --checkbox-border-radius: 5px;
  --checkbox-border-width: var(--input-border-width);
  --checkbox-label-background-fill: var(--button-secondary-background-fill);
  --checkbox-label-background-fill-hover: var(--button-secondary-background-fill-hover);
  --checkbox-label-background-fill-selected: var(--checkbox-label-background-fill);
  --checkbox-label-border-color: var(--border-color-primary);
  --checkbox-label-border-color-hover: var(--checkbox-label-border-color);
  --checkbox-label-border-color-selected: var(--checkbox-label-border-color);
  --checkbox-label-border-width: var(--input-border-width);
  --checkbox-label-gap: var(--spacing-md);
  --checkbox-label-padding: var(--spacing-xs);
  --checkbox-label-shadow: none;
  --checkbox-label-text-size: var(--text-md);
  --checkbox-label-text-weight: 400;
  --checkbox-check: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  --radio-circle: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='#6c00d9' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  --checkbox-shadow: var(--input-shadow);
  --checkbox-label-text-color: var(--button-primary-text-color);
  --checkbox-label-text-color-selected: var(--checkbox-label-text-color);
  --error-background-fill: #fee2e2;
  --error-border-color: #fecaca;
  --error-border-width: 1px;
  --error-text-color: #ef4444;
  --error-icon-color: #b91c1c;
  --input-background-fill: var(--neutral-600);
  --input-background-fill-focus: var(--secondary-500);
  --input-background-fill-hover: var(--input-background-fill);
  --input-border-color: var(--border-color-primary);
  --input-border-color-focus: var(--secondary-300);
  --input-border-color-hover: var(--input-border-color);
  --input-border-width: 0px;
  --input-padding: var(--spacing-sm);
  --input-placeholder-color: var(--neutral-400);
  --input-radius: 5px;
  --input-shadow: none;
  --input-shadow-focus: var(--input-shadow);
  --input-text-size: var(--text-md);
  --input-text-weight: 400;
  --loader-color: var(--color-accent);
  --prose-text-size: var(--text-md);
  --prose-text-weight: 400;
  --prose-header-text-weight: 400;
  --slider-color: var(--neutral-900);
  --stat-background-fill: var(--primary-300);
  --table-border-color: var(--neutral-300);
  --table-even-background-fill: white;
  --table-odd-background-fill: var(--neutral-50);
  --table-radius: 5px;
  --table-row-focus: var(--color-accent-soft);
  --button-border-width: var(--input-border-width);
  --button-cancel-background-fill: var(--button-primary-background-fill);
  --button-cancel-background-fill-hover: var(--button-cancel-background-fill);
  --button-cancel-border-color: var(--button-secondary-border-color);
  --button-cancel-border-color-hover: var(--button-cancel-border-color);
  --button-cancel-text-color: var(--button-primary-text-color);
  --button-cancel-text-color-hover: var(--button-cancel-text-color);
  --button-transform-hover: none;
  --button-transform-active: none;
  --button-transition: .3s;
  --button-large-padding: var(--spacing-lg);
  --button-large-radius: 5px;
  --button-large-text-size: var(--text-lg);
  --button-large-text-weight: 400;
  --button-primary-background-fill: var(--neutral-900);
  --button-primary-background-fill-hover: var(--neutral-700);
  --button-primary-border-color: var(--primary-200);
  --button-primary-border-color-hover: var(--button-primary-border-color);
  --button-primary-text-color: white;
  --button-primary-text-color-hover: var(--button-primary-text-color);
  --button-primary-shadow: none;
  --button-primary-shadow-hover: var(--button-primary-shadow);
  --button-primary-shadow-active: var(--button-primary-shadow);
  --button-secondary-background-fill: var(--button-primary-background-fill);
  --button-secondary-background-fill-hover: var(--button-secondary-background-fill);
  --button-secondary-border-color: var(--neutral-600);
  --button-secondary-border-color-hover: var(--button-secondary-border-color);
  --button-secondary-text-color: var(--button-primary-text-color);
  --button-secondary-text-color-hover: var(--button-secondary-text-color);
  --button-secondary-shadow: var(--button-primary-shadow);
  --button-secondary-shadow-hover: var(--button-secondary-shadow);
  --button-secondary-shadow-active: var(--button-secondary-shadow);
  --button-small-padding: var(--spacing-sm);
  --button-small-radius: 5px;
  --button-small-text-size: var(--text-md);
  --button-small-text-weight: 400;
  --button-medium-padding: var(--spacing-md) calc(2 * var(--spacing-md));
  --button-medium-radius: var(--radius-md);
  --button-medium-text-size: var(--text-md);
  --button-medium-text-weight: 600;
  --button-shadow: none;
  --button-shadow-active: none;
  --button-shadow-hover: var(--shadow-drop-lg);
}

:root .dark {
  --body-background-fill: var(--neutral-900);
  --body-text-color: var(--neutral-100);
  --color-accent-soft: var(--neutral-700);
  --background-fill-primary: var(--neutral-900);
  --background-fill-secondary: var(--neutral-800);
  --border-color-accent: var(--neutral-500);
  --border-color-primary: var(--neutral-700);
  --link-text-color-active: var(--secondary-500);
  --link-text-color: var(--secondary-500);
  --link-text-color-hover: var(--secondary-400);
  --link-text-color-visited: var(--secondary-600);
  --body-text-color-subdued: var(--neutral-400);
  --accordion-text-color: var(--body-text-color);
  --table-text-color: var(--body-text-color);
  --shadow-spread: 4px;
  --block-background-fill: var(--neutral-800);
  --block-border-color: var(--neutral-500);
  --block-border-width: 1px;
  --block-info-text-color: var(--body-text-color-subdued);
  --block-label-background-fill: var(--neutral-800);
  --block-label-border-color: var(--neutral-700);
  --block-label-border-width: 1px;
  --block-label-text-color: var(--neutral-200);
  --block-shadow: var(--shadow-drop-lg);
  --block-title-background-fill: var(--neutral-800);
  --block-title-border-color: none;
  --block-title-border-width: 0px;
  --block-title-text-color: var(--neutral-200);
  --panel-background-fill: var(--neutral-800);
  --panel-border-color: var(--neutral-600);
  --panel-border-width: 0px;
  --border-color-accent-subdued: var(--border-color-accent);
  --code-background-fill: var(--neutral-800);
  --checkbox-background-color: var(--neutral-700);
  --checkbox-background-color-focus: var(--neutral-700);
  --checkbox-background-color-hover: var(--neutral-700);
  --checkbox-background-color-selected: var(--neutral-600);
  --checkbox-border-color: var(--neutral-600);
  --checkbox-border-color-focus: var(--neutral-600);
  --checkbox-border-color-hover: var(--neutral-600);
  --checkbox-border-color-selected: var(--neutral-600);
  --checkbox-border-width: 1px;
  --checkbox-label-background-fill: var(--neutral-800);
  --checkbox-label-background-fill-hover: linear-gradient(45deg,var(--neutral-600),var(--neutral-700));
  --checkbox-label-background-fill-selected: var(--checkbox-label-background-fill);
  --checkbox-label-border-color: var(--neutral-600);
  --checkbox-label-border-color-hover: var(--neutral-600);
  --checkbox-label-border-color-selected: var(--checkbox-label-border-color);
  --checkbox-label-border-width: 0px;
  --checkbox-label-text-color: var(--body-text-color);
  --checkbox-label-text-color-selected: var(--checkbox-label-text-color);
  --error-background-fill: var(--background-fill-primary);
  --error-border-color: ab1130;
  --error-border-width: 1px;
  --error-text-color: ab1130;
  --error-icon-color: #ef4444;
  --input-background-fill: var(--neutral-800);
  --input-background-fill-focus: var(--neutral-600);
  --input-background-fill-hover: var(--neutral-700);
  --input-border-color: var(--neutral-600);
  --input-border-color-focus: var(--neutral-700);
  --input-border-color-hover: var(--input-border-color);
  --input-border-width: 1px;
  --input-placeholder-color: var(--neutral-400);
  --input-shadow: none;
  --input-shadow-focus: var(--input-shadow);
  --loader-color: var(--neutral-600);
  --slider-color: var(--neutral-600);
  --stat-background-fill: var(--primary-500);
  --table-border-color: var(--neutral-700);
  --table-even-background-fill: var(--neutral-800);
  --table-odd-background-fill: var(--neutral-900);
  --table-row-focus: var(--color-accent);
  --button-border-width: 1px;
  --button-cancel-background-fill: var(--neutral-700);
  --button-cancel-background-fill-hover: radial-gradient(circle,var(--neutral-600) 20%,var(--neutral-700) 90%);
  --button-cancel-border-color: var(--neutral-600);
  --button-cancel-border-color-hover: var(--button-cancel-border-color);
  --button-cancel-text-color: var(--button-secondary-text-color);
  --button-cancel-text-color-hover: var(--button-cancel-text-color);
  --button-primary-background-fill: var(--neutral-700);
  --button-primary-background-fill-hover: radial-gradient(circle,var(--neutral-600) 20%,var(--neutral-700) 90%);
  --button-primary-border-color: var(--neutral-600);
  --button-primary-border-color-hover: var(--button-primary-border-color);
  --button-primary-text-color: white;
  --button-primary-text-color-hover: var(--button-primary-text-color);
  --button_primary_shadow: None;
  --button-primary-shadow-hover: var(--button-primary-shadow);
  --button-primary-shadow-active: var(--button-primary-shadow);
  --button-secondary-background-fill: var(--neutral-700);
  --button-secondary-background-fill-hover: radial-gradient(circle,var(--neutral-600) 20%,var(--neutral-700) 90%);
  --button-secondary-border-color: var(--neutral-600);
  --button-secondary-border-color-hover: var(--neutral-700);
  --button-secondary-text-color: white;
  --button-secondary-text-color-hover: var(--button-secondary-text-color);
  --button_secondary_shadow: None;
  --button-secondary-shadow-hover: var(--button-secondary-shadow);
  --button-secondary-shadow-active: var(--button-secondary-shadow);
  --name: rottenlittlecreature/Moon_Goblin;
  --primary-50: #fafafa;
  --primary-100: #f5f5f5;
  --primary-200: #e5e5e5;
  --primary-300: #d4d4d4;
  --primary-400: #a3a3a3;
  --primary-500: #737373;
  --primary-600: #525252;
  --primary-700: #404040;
  --primary-800: #262626;
  --primary-900: #171717;
  --primary-950: #0f0f0f;
  --secondary-50: #f5f3ff;
  --secondary-100: #ede9fe;
  --secondary-200: #ddd6fe;
  --secondary-300: #c4b5fd;
  --secondary-400: #a78bfa;
  --secondary-500: #ac8ef0;
  --secondary-600: #935fec;
  --secondary-700: #7943d0;
  --secondary-800: #6a3eb1;
  --secondary-900: #502b88;
  --secondary-950: #39225e;
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #9a9b9e;
  --neutral-600: #27ddc8;
  --neutral-700: #652e8a;
  --neutral-800: #242424;
  --neutral-900: #242424;
  --neutral-950: #000000;
  --spacing-xxs: 1px;
  --spacing-xs: 2px;
  --spacing-sm: 4px;
  --spacing-md: 6px;
  --spacing-lg: 8px;
  --spacing-xl: 10px;
  --spacing-xxl: 16px;
  --radius-xxs: 1px;
  --radius-xs: 1px;
  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 6px;
  --radius-xl: 8px;
  --radius-xxl: 12px;
  --text-xxs: 9px;
  --text-xs: 10px;
  --text-sm: 12px;
  --text-md: 14px;
  --text-lg: 16px;
  --text-xl: 22px;
  --text-xxl: 26px;
  --font: 'Segoe UI','ui-sans-serif','system-ui',sans-serif;
  --font-mono: 'Prompt','ui-monospace','Consolas',monospace;
  --body-text-size: var(--text-md);
  --body-text-weight: 400;
  --embed-radius: 5px;
  --color-accent: #ed28cc;
  --shadow-drop: rgba(0,0,0,0.05) 0px 1px 2px 0px;
  --shadow-drop-lg: 0 1px 4px 0 rgb(255 255 255 / 0.1);
  --shadow-inset: rgba(0,0,0,0.05) 0px 2px 4px 0px inset;
  --block-info-text-size: var(--text-sm);
  --block-info-text-weight: 400;
  --block-label-shadow: var(--block-shadow);
  --block-label-margin: 0;
  --block-label-padding: var(--spacing-lg);
  --block-label-radius: 5px;
  --block-label-right-radius: 5px;
  --block-label-text-size: var(--text-md);
  --block-label-text-weight: 400;
  --block-padding: var(--spacing-lg);
  --block-radius: 5px;
  --block-title-padding: spacing_lg;
  --block-title-radius: 5px;
  --block-title-text-size: var(--text-md);
  --block-title-text-weight: 400;
  --container-radius: 5px;
  --form-gap-width: 1px;
  --layout-gap: var(--spacing-lg);
  --section-header-text-size: var(--text-md);
  --section-header-text-weight: 400;
  --chatbot-text-size: var(--text-lg);
  --checkbox-border-radius: 5px;
  --checkbox-label-gap: var(--spacing-md);
  --checkbox-label-padding: var(--spacing-xs);
  --checkbox-label-shadow: none;
  --checkbox-label-text-size: var(--text-md);
  --checkbox-label-text-weight: 400;
  --checkbox-check: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  --radio-circle: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='#6c00d9' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  --checkbox-shadow: var(--input-shadow);
  --input-padding: var(--spacing-sm);
  --input-radius: 5px;
  --input-text-size: var(--text-md);
  --input-text-weight: 400;
  --prose-text-size: var(--text-md);
  --prose-text-weight: 400;
  --prose-header-text-weight: 400;
  --table-radius: 5px;
  --button-transform-hover: none;
  --button-transform-active: none;
  --button-transition: .3s;
  --button-large-padding: var(--spacing-lg);
  --button-large-radius: 5px;
  --button-large-text-size: var(--text-lg);
  --button-large-text-weight: 400;
  --button-primary-shadow: none;
  --button-secondary-shadow: var(--button-primary-shadow);
  --button-small-padding: var(--spacing-sm);
  --button-small-radius: 5px;
  --button-small-text-size: var(--text-md);
  --button-small-text-weight: 400;
  --button-medium-padding: var(--spacing-md) calc(2 * var(--spacing-md));
  --button-medium-radius: var(--radius-md);
  --button-medium-text-size: var(--text-md);
  --button-medium-text-weight: 600;
  --button-shadow: none;
  --button-shadow-active: none;
  --button-shadow-hover: var(--shadow-drop-lg);
}